@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* public style */

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #242f51;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

a:hover {
  color: #fcae61;
}

/* Start Header */
header {
  margin-top: 3em;
}

header .d-flex {
  align-items: center;
  justify-content: space-between;
}

header .d-flex .logo {
  width: 20%;
  flex: 0 0 auto;
}

header .d-flex .logo a {
  font-weight: bold;
}

header .d-flex .logo a:hover {
  color: #242f51;
}

header .d-flex .logo a span {
  color: #fcae61;
}

header .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

header .menu ul li:not(:last-child) {
  margin-right: 2.5em;
}

header .menu {
  margin-left: 250px;
}

.btn-site {
  background: #2500f9;
  color: #fff;
  display: inline-block;
  padding: 0.95em 0;
  min-width: 180px;
  text-align: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-weight: bold;
}

.btn-site:hover {
  background-color: #fcae61;
  color: white;
}
/* End Header */

/* Start Intro */
.intro {
  background-image: url(../images/bg-intro.png);
  background-repeat: repeat-x;
  background-position: bottom center;
  height: 870px;
  position: relative;
  overflow: hidden;
  padding-top: 3em;
  margin-bottom: 80px;
}

.intro::before, 
.intro::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  border: 0;
  background-position: center;
  width: 100%;
  height: 100%;
}

.intro::before{
  background-image: url(/images/dec01.png);
  left: -452px;
  top: -85px;
}

.intro::after {
  background-image: url(/images/dec02.png);
  right: -120px;
  top: -25px;
}

.intro .content strong {
  background: #e2eaed;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 0.4em 1em;
  padding-left: 55px;
  font-size: 23px;
  font-weight: 400;
  position: relative;
}

.intro .content strong i {
  background-color: #fcae61;
  color: #fff;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
}

.intro .content h2 {
  margin-top: 1em;
  font-weight: 700;
  font-size: 60px;
  color: #242f51;
  margin-bottom: .5em;
}

.intro .content p {
  color: #616368;
  font-size: 20px;
}

.intro .content .d-flex a:nth-child(1){
  margin-right: 1.5rem;
}

.intro .content .d-flex a:nth-child(2){
  color: #2500f9;
}

.intro img {
  max-width: 100%;
  display: block;
  margin: auto;
}
/* End Intro */

/* Start Section01 */
.section-01 h4{
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.section-01 .logos {
  margin-bottom: 80px;
}
/* End Section01 */

/* Start Features */
.section-01 .features .main-img{
  max-width: 100%;
  display: block;
  margin: auto;
}

.section-01 .features .content {
  padding-right:160px ;
}

.section-01 .features .content .head {
  margin-bottom: 70px;
}

.section-01 .features .content .head h3{
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
}

.section-01 .features .content .head p{
  font-size: 16px;
  color: #616368;
}

.section-01 .features .content .items .item{
  margin-bottom: 35px;
}

.section-01 .features .content .items .item .d-flex {
  align-items: center;
}

.section-01 .features .content .items .item .d-flex figure{
  width: 90px;
  height: 90px;
  margin: 0;
  margin-right: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ffecef;
  flex:  0 0 auto;
  text-align: center;
  line-height: 90px;
}

.section-01 .features .content .items .item:nth-child(2) .d-flex figure{
  background-color: #f4f4ff;
}

.section-01 .features .content .items .item:nth-child(3) .d-flex figure{
  background-color: #e4ffee;
}

.section-01 .features .content .items .item .d-flex .caption h5{
  font-weight: 600;
  color: #f55767;
}

.section-01 .features .content .items .item:nth-child(2) .d-flex .caption h5{
  color: #2563ff;
}

.section-01 .features .content .items .item:nth-child(3) .d-flex .caption h5{
  color: #40975f;
}

.section-01 .features .content .items .item .d-flex .caption p{
  margin: 0;
  color: #616368;
}
/* End Features */

/* Start Section02 */

.section-02 {
  margin-bottom:60px ;
  margin-top: 40px;
}

.section-02 .block01 .head h3 {
  font-size: 35px;
  font-weight: bold;
}

.section-02 .block01  p {
  color: #616368;
  padding-left: 30px;
}

.section-02 .block01 .row .col-md-6:nth-child(1){
  border-right: 1px solid #ddd;
}

.section-02 .block02 {
  margin-top: 80px;
}

.card-site figure{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 90px;
}

.section-02 .block02 .row .col-md-4:nth-child(1) .card-site figure{
  background-color: #ffecef;
}

.section-02 .block02 .row .col-md-4:nth-child(3) .card-site figure{
  background-color: #f4f4ff;
}

.section-02 .block02 .row .col-md-4:nth-child(3) .card-site figure{
  background-color: #e4ffee;
}

.card-site h2{
  font-size: 24px;
  font-weight: 600;
}

.section-02 .block02 .row .col-md-4:nth-child(1) .card-site h2{
  color: #f55767;
}

.section-02 .block02 .row .col-md-4:nth-child(2) .card-site h2{
  color: #2563ff;
}

.section-02 .block02 .row .col-md-4:nth-child(3) .card-site h2{
  color: #40975f;
}

.card-site p{
  margin-bottom: 0;
  color: #616368;
}

/* End Section02 */